{% extends "base.html" %}

{% block content %}
<br>
<div class="page-content mx-auto">
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h1>Manage {{current_user.organization}}</h1><hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h3>Admins</h3>
        </div>
    </div>
    <div class="row">
        {% for admin in admins %}
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card mb-4 mx-auto" style="text-align:center; max-width: 320px;">
                <div class="card-body text-center">
                    <div class="avatar-parent-child">
                        <img class="avatar rounded-circle" src="{{ admin.avatar(64) }}">
                    </div>
                    <h5 class="mt-4 mb-1 card-title">{{ admin.first_name }} {{ admin.last_name }}</h5>
                    <p class="mb-0">{{ admin.username }}</p>
                    <p>{{ admin.email }}</p>
                    <div class="row">
                        <div class="col mr-2" style="text-align:right">
                            <button type="button" class="btn btn-outline-dark btn-icon-only" data-toggle="modal" data-target="#emailUserModal" onclick="openEmailUserModal('{{ admin.email }}')">
                                <span class="btn-inner--icon"><i class="far fa-envelope"></i></span>
                            </button>
                        </div>
                        <div class="col ml-2" style="text-align:left">
                            <button type="button" class="btn btn-outline-danger btn-icon-only" data-toggle="modal" data-target="#deleteAccountModal" onclick="openDeleteUserModal('{{ admin.username }}')">
                                <span class="btn-inner--icon"><i class="far fa-trash-alt"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div><br>
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h3>Members</h3>
        </div>
    </div>
    <div class="row">
        {% for member in members %}
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card mb-4 mx-auto" style="text-align:center; width: 320px;">
                <div class="card-body text-center">
                    <div class="avatar-parent-child">
                        <img class="avatar rounded-circle" src="{{ member.avatar(64) }}">
                    </div>
                    <h5 class="mt-4 mb-1 card-title">{{ member.first_name }} {{ member.last_name }}</h5>
                    <p class="mb-0">{{ member.username }}</p>
                    <p>{{ member.email }}</p>
                    <div class="row">
                        <div class="col mr-2" style="text-align:right">
                            <button type="button" class="btn btn-outline-dark btn-icon-only" data-toggle="modal" data-target="#emailUserModal" onclick="openEmailUserModal('{{ member.email }}')">
                                <span class="btn-inner--icon"><i class="far fa-envelope"></i></span>
                            </button>
                        </div>
                        <div class="col ml-2" style="text-align:left">
                            <button type="button" class="btn btn-outline-danger btn-icon-only" data-toggle="modal" data-target="#deleteAccountModal" onclick="openDeleteUserModal('{{ member.username }}')">
                                <span class="btn-inner--icon"><i class="far fa-trash-alt"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h3>Delete User</h3></div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto">
                    {{ delete_form.hidden_tag() }}
                    {{ delete_form.username(style="display:none") }}<br>
                    <h5>
                        Are you sure you want to delete <span id="usernameVisible">this user</span>?<br>
                    </h5><br>
                    <p class="mb-0">{{ delete_form.submit(class='btn btn-danger') }}</p>
                </form-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h3>Email User</h3></div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto" style="text-align:left">
                    {{ email_form.hidden_tag() }}
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right">
                                <div style="width:130%">{{ email_form.email.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ email_form.email(readonly="true", style="width:100%") }}
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right;">
                                <div style="width:130%">{{ email_form.subject.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ email_form.subject(style="width:100%") }}
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right;">
                                <div style="width:130%">{{ email_form.body.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ email_form.body(style="width:100%") }}
                            </div>
                        </div>
                    </p><br>
                    <p>{{ email_form.submit(class='btn btn-dark') }}</p>
                </form-->
            </div>
        </div>
    </div>
</div>
{% endblock %}