{% extends "base.html" %}

{% block content %}
<br>
<div class="page-content mx-auto">
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h1>Manage {{current_user.organization}}</h1>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-white">
            <h3>Admins</h3>
        </div>
        <div class="card-body mb-0">
            <table>
                <tr>
                    <td>Profile Pic</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Username</td>
                    <td>Email</td>
                </tr>
                {% for admin in admins %}
                <tr>
                    <td>{{ admin.avatar(64) }}</td>
                    <td>{{ admin.first_name }}</td>
                    <td>{{ admin.last_name }}</td>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.email }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="row">
                <div class="col">Profile Pic</div>
                <div class="col">First Name</div>
                <div class="col">Last Name</div>
                <div class="col">Username</div>
                <div class="col">Email</div>
            </div>
            {% for admin in admins %}
            <div class="row">
                <div class="col">{{ admin.avatar(64) }}</div>
                <div class="col">{{ admin.first_name }}</div>
                <div class="col">{{ admin.last_name }}</div>
                <div class="col">{{ admin.username }}</div>
                <div class="col">{{ admin.email }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-white">
            <h3>Members</h3>
        </div>
        <div class="card-body mb-0">
            <div class="row">
                ADMIN BODY
            </div>
        </div>
    </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!--form action="" method="post" novalidate class="login-form mx-auto">
                    {{ form.hidden_tag() }}
                    <p class="mb-0" style="text-align:left">
                        Are you sure you want to delete the following user?<br>
                    </p>
                    <p class="mb-0">{{ form.submit(class='btn btn-dark') }}</p>
                </form-->
            </div>
        </div>
    </div>
</div>
{% endblock %}