{% extends "base.html" %}

{% block content %}
<br>
<div class="page-content mx-auto">
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h1>Manage Phi Kappa Psi</h1><hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h3>Admins</h3>
        </div>
    </div>
    <div class="row">
        {% for admin in admins %}
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card mb-4 mx-auto" style="text-align:center; width: 320px;">
                <div class="card-body text-center">
                    <div class="avatar-parent-child">
                        <img class="avatar rounded-circle" src="{{ admin.avatar(64) }}">
                    </div>
                    <h5 class="mt-4 mb-1 card-title">{{ admin.first_name }} {{ admin.last_name }}</h5>
                    <p class="mb-0">{{ admin.username }}</p>
                    <p>{{ admin.email }}</p>
                    <div class="row mx-auto" style="width:90%">
                        {% if (admin.username != current_user.username) %}
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-success btn-icon-only" data-toggle="modal" data-target="#userTestHistoryModal" onclick="openTestHistoryModal('{{ admin.username }}')">
                                <span class="btn-inner--icon"><i class="fas fa-viruses"></i></span>
                            </button>
                        </div>
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-primary btn-icon-only" data-toggle="modal" data-target="#emailUserModal" onclick="openEmailUserModal('{{ admin.email }}')">
                                <span class="btn-inner--icon"><i class="far fa-envelope"></i></span>
                            </button>
                        </div>
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-dark btn-icon-only" data-toggle="modal" data-target="#updateAdminModal" onclick="openUpdateAdminModal('{{ admin.username }}')">
                                <span class="btn-inner--icon"><i class="fas fa-user-times"></i></span>
                            </button>
                        </div>
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-danger btn-icon-only" data-toggle="modal" data-target="#deleteAccountModal" onclick="openDeleteUserModal('{{ admin.username }}')">
                                <span class="btn-inner--icon"><i class="far fa-trash-alt"></i></span>
                            </button>
                        </div>
                        {% else %}
                        <div class="col mb-2" style="text-align:center">
                            <small>(Your Account)</small>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div><br>
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h3>Members</h3>
        </div>
    </div>
    <div class="row">
        {% for member in members %}
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card mb-4 mx-auto" style="text-align:center; width: 320px;">
                <div class="card-body text-center">
                    <div class="avatar-parent-child">
                        <img class="avatar rounded-circle" src="{{ member.avatar(64) }}">
                    </div>
                    <h5 class="mt-4 mb-1 card-title">{{ member.first_name }} {{ member.last_name }}</h5>
                    <p class="mb-0">{{ member.username }}</p>
                    <p>{{ member.email }}</p>
                    <div class="row mx-auto" style="width: 90%;">
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-success btn-icon-only" data-toggle="modal" data-target="#userTestHistoryModal" onclick="openTestHistoryModal('{{ member.username }}')">
                                <span class="btn-inner--icon"><i class="fas fa-viruses"></i></span>
                            </button>
                        </div>
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-primary btn-icon-only" data-toggle="modal" data-target="#emailUserModal" onclick="openEmailUserModal('{{ member.email }}')">
                                <span class="btn-inner--icon"><i class="far fa-envelope"></i></span>
                            </button>
                        </div>
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-dark btn-icon-only" data-toggle="modal" data-target="#updateAdminModal" onclick="openUpdateAdminModal('{{ member.username }}')">
                                <span class="btn-inner--icon"><i class="fas fa-user-plus"></i></span>
                            </button>
                        </div>
                        <div class="col p-0" style="text-align:center">
                            <button type="button" class="btn btn-outline-danger btn-icon-only" data-toggle="modal" data-target="#deleteAccountModal" onclick="openDeleteUserModal('{{ member.username }}')">
                                <span class="btn-inner--icon"><i class="far fa-trash-alt"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<br>

<!-- Test History Modal -->
<div class="modal fade" id="userTestHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h3>Test History</h3></div>
            <div class="modal-body">
                Testing history
            </div>
        </div>
    </div>
</div>

<!-- Delete User Account Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h3>Delete User</h3></div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto">
                    {{ delete_form.hidden_tag() }}
                    {{ delete_form.username_delete(style="display:none") }}<br>
                    <h5>
                        Are you sure you want to delete <span id="usernameDeleteVisible">this user</span>?<br>
                    </h5><br>
                    <p class="mb-0"><button type="button" class="btn" data-dismiss="modal">Cancel</button>{{ delete_form.submit(class='btn btn-danger') }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update User Admin Status Modal -->
<div class="modal fade" id="updateAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h3>Update Admin Status</h3></div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto">
                    {{ admin_form.hidden_tag() }}
                    {{ admin_form.username_admin(style="display:none") }}<br>
                    <h5>
                        Are you sure you want to update <span id="usernameAdminVisible">this user</span>'s admin status?<br>
                    </h5><br>
                    <p class="mb-0"><button type="button" class="btn" data-dismiss="modal">Cancel</button>{{ admin_form.submit(class='btn btn-success') }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h3>Email User</h3></div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto" style="text-align:left">
                    {{ email_form.hidden_tag() }}
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right">
                                <div style="width:130%">{{ email_form.email.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ email_form.email(readonly="true", style="width:100%") }}
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right;">
                                <div style="width:130%">{{ email_form.subject.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ email_form.subject(style="width:100%") }}
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right;">
                                <div style="width:130%">{{ email_form.body.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ email_form.body(style="width:100%") }}
                            </div>
                        </div>
                    </p><br>
                    <p style="text-align:center;"><button type="button" class="btn" data-dismiss="modal">Cancel</button>{{ email_form.submit(class='btn btn-primary') }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}