{% extends "base.html" %}

{% block content %}
<br>
<div class="page-content mx-auto">
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h1>Help</h1>
        </div>
        <div class="col" style="text-align:right">
            <button type="button" class="btn btn-primary btn-icon" data-toggle="modal" data-target="#emailAdminModal" onclick="populateAdminEmails('{{ admin_emails }}')">
                <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
                <span class="btn-inner--text">Email Admin</span>
            </button>
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header bg-white" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" style="justify-content: space-between; display:flex" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3>How to Schedule A Test</h3><i class="fas fa-angle-down my-auto"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 my-auto">
                            <div class="help-text">1. Open up the <a href="https://etang.berkeley.edu/home.aspx">eTang Portal</a> and click on "Appointments".</div>
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12" style="text-align:center;">
                            <img class="help-image" src="{{ url_for('static', filename='images/home-appt.png') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 my-auto">
                            <div class="help-text">2. Once on the "Appointments" page, click the "Schedule an appointment" button.</div>
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12" style="text-align:center;">
                            <img class="help-image" src="{{ url_for('static', filename='images/appt-sched.png') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 my-auto">
                            <div class="help-text">3. Scroll down and select the "COVID Testing for <b>UC Berkeley Students</b>" option and click "Continue". Answer the next few questions.</div>
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12" style="text-align:center;">
                            <img class="help-image" src="{{ url_for('static', filename='images/sched-cont.png') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 my-auto">
                            <div class="help-text">4. When you get to the question regarding your reason for getting a COVID Test, select the option indicating that you need one for housing. Complete the following questions and schedule your appointment.</div>
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12" style="text-align:center;">
                            <img class="help-image" src="{{ url_for('static', filename='images/testReason.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-white" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" style="justify-content: space-between; display:flex" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3>How to Check Your Test Results</h3><i class="fas fa-angle-down my-auto"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 my-auto">
                            <div class="help-text">1. Open up the <a href="https://etang.berkeley.edu/home.aspx">eTang Portal</a> and click on "Visits / Medications / Lab Results".</div>
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12" style="text-align:center;">
                            <img class="help-image" src="{{ url_for('static', filename='images/home-lab.png') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 my-auto">
                            <div class="help-text">2. Navigate to the "Lab Results" tab and view your test results.</div>
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12" style="text-align:center;">
                            <img class="help-image" src="{{ url_for('static', filename='images/labResults.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="modal fade" id="emailAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h3>Email Admin</h3></div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto" style="text-align:left">
                    {{ form.hidden_tag() }}
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right">
                                <div style="width:130%">{{ form.email.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ form.email(disabled="true", style="width:100%") }}
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right;">
                                <div style="width:130%">{{ form.subject.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ form.subject(style="width:100%") }}
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class="row">
                            <div class="col col-2" style="text-align:right;">
                                <div style="width:130%">{{ form.body.label }}:</div>
                            </div>
                            <div class="col col-10">
                                {{ form.body(style="width:100%") }}
                            </div>
                        </div>
                    </p><br>
                    <p style="text-align:center;"><button type="button" class="btn" data-dismiss="modal">Cancel</button>{{ form.submit(class='btn btn-primary') }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}