{% extends "base.html" %}

{% block content %}
<br>
<div class="page-content mx-auto">
    <div class="row mb-4">
        <div class="col" style="text-align:left">
            <h1>My Profile</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body mb-0">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-12">
                    <img src="{{ current_user.avatar(128) }}"><br><br>
                    <a target="_blank" href="https://en.gravatar.com"><small>Change Profile Picture</small></a>
                </div>
                <div class="col" style="text-align:left">
                    <h5><span style="opacity: 0.7;"> Username: </span>{{ current_user.username }}</h5>
                    <h5><span style="opacity: 0.7;"> Full Name: </span>{{ current_user.first_name }} {{ current_user.last_name }}</h5>
                    <h5><span style="opacity: 0.7;"> Email: </span>{{ current_user.email }}</h5>
                    <br>
                    <button type="button" class="btn btn-outline-dark btn-icon my-auto" data-toggle="modal" data-target="#editProfileModal">
                        <span class="btn-inner--icon"><i class="far fa-edit"></i></span>
                        <span class="btn-inner--text">Edit Profile</span>
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-dark btn-icon my-auto" data-toggle="modal" data-target="#changePasswordModal">
                        <span class="btn-inner--icon"><i class="fas fa-user-lock"></i></span>
                        <span class="btn-inner--text">Change Password</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Edit Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto">
                    {{ edit_form.hidden_tag() }}
                    <p class="mb-0" style="text-align:left">
                        {{ edit_form.username.label }}
                        {{ edit_form.username(size=32, class='form-control') }}<br>
                        {% for error in edit_form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="mb-0" style="text-align:left">
                        {{ edit_form.email.label }}
                        {{ edit_form.email(size=32, class='form-control') }}<br>
                        {% for error in edit_form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="mb-0" style="text-align:left">
                        {{ edit_form.first_name.label }}
                        {{ edit_form.first_name(size=32, class='form-control') }}<br>
                        {% for error in edit_form.first_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="mb-0" style="text-align:left">
                        {{ edit_form.last_name.label }}
                        {{ edit_form.last_name(size=32, class='form-control') }}<br>
                        {% for error in edit_form.last_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="mb-0">{{ edit_form.submit(class='btn btn-dark') }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" novalidate class="mx-auto">
                    {{ password_form.hidden_tag() }}
                    <p class="mb-0" style="text-align:left">
                        {{ password_form.old_password.label }}
                        {{ password_form.old_password(size=32, class='form-control') }}<br>
                        {% for error in password_form.old_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="mb-0" style="text-align:left">
                        {{ password_form.new_password.label }}
                        {{ password_form.new_password(size=32, class='form-control') }}<br>
                        {% for error in password_form.new_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="mb-0" style="text-align:left">
                        {{ password_form.repeat_password.label }}
                        {{ password_form.repeat_password(size=32, class='form-control') }}<br>
                        {% for error in password_form.repeat_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="mb-0">{{ password_form.submit(class='btn btn-dark') }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}