{% extends "base.html" %}

{% block content %}
    <br>
    <div class="card mx-auto" style="max-width:400px">
        <div class="card-header bg-white">
            <h1>Register</h1>
        </div>
        <div class="card-body mb-0">
            <form action="" method="post" novalidate class="mx-auto">
                {{ form.hidden_tag() }}
                <p class="mb-0">
                    <br>
                    {{ form.username(placeholder='Username', size=32, class='form-control') }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="mb-0">
                    {{ form.email(placeholder='Email', size=32, class='form-control') }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="mb-0">
                    {{ form.first_name(placeholder='First Name', size=32, class='form-control') }}<br>
                    {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="mb-0">
                    {{ form.last_name(placeholder='Last Name', size=32, class='form-control') }}<br>
                    {% for error in form.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="mb-0">
                    {{ form.password(placeholder='Password', size=32, class='form-control') }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.repeat_password(placeholder='Repeat Password', size=32, class='form-control') }}
                    <small id="passwordInfo" class="form-text text-muted">Your actual password is never saved. We use industry-standard security to keep your data protected.</small><br>
                    {% for error in form.repeat_password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="mb-0">{{ form.submit(class='btn btn-dark') }}</p>
            </form>
        </div>
    </div>
    <br>
{% endblock %}